{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2 class="text-center">Iniciar Sesión</h2>
    <form method="POST" class="mt-4">
        <div class="mb-3">
            <label for="username" class="form-label">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Ingrese su usuario" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
    </form>
    <p class="text-center mt-3">¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>.</p>
{% endblock %}
